#Jim {
    justify-self: center;
    align-self: center;
    max-width: 100%;
    height: 218px;
    }

h1 {
    display: flex;
    justify-content: center;
}
body {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}
li {
    margin: 20px;
}
li a {
    display: flex;
    justify-content: flex-start;
}